body {
  margin: 25px;
  background: #ff4df6;
  background: linear-gradient(180deg, rgba(255, 77, 246, 1) 0%, rgba(166, 0, 157, 1) 50%, rgba(255, 149, 0, 1) 150%);
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-height: 200vh;
  position: relative;
}




h1 {
  text-align: center;
  
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Title2 {
  text-align: center;

  font-weight: bold;
  font-family: "Cal Sans", sans-serif;
  font-size: 28px;
}


p {
  font-family: "DM Sans", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

td {
  font-family: "DM Sans", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 16px;
}
.links {
  font-family: "Cal Sans", sans-serif;
  background: linear-gradient(180deg, #69f3f3 0%, #0082e6 200%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}


.first-list {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
}

ul {
  font-family: "Montserrat", sans-serif;
  color: white;
}

li {
  font-family: "DM Sans", sans-serif;
}


.justforfont {
  font-family: "DM Sans", sans-serif;
}

.UltrakillText {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: fit-content;
}

.arch-linux-badge {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: fit-content;
}



.logo {
  height: 20px;
  margin-right: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 600px;
  margin: auto;
}
.box {
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
}

.project-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.idk_bruh {
  font-size: 28px;
}
/*font-size: 28px;*/
/* tell nobody about that hehe */
.bottom-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}
