body {
  margin: 25px;
  background: #ff4df6;
  background: linear-gradient(180deg, rgba(255, 77, 246, 1) 0%, rgba(166, 0, 157, 1) 50%, rgba(255, 149, 0, 1) 150%);
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-height: 200vh;
  position: relative;
}




h1 {
  text-align: center;
  
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Title2 {
  text-align: center;

  font-weight: bold;
  font-family: "Cal Sans", sans-serif;
  font-size: 28px;
}


p {
  font-family: "DM Sans", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

td {
  font-family: "DM Sans", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 16px;
}
.links {
  font-family: "Cal Sans", sans-serif;
  background: linear-gradient(180deg, #69f3f3 0%, #0082e6 200%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.first-list {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
}

ul {
  font-family: "Montserrat", sans-serif;
  color: white;
}
.Cascadia {
  font-family: "Cascadia Code", sans-serif;
}
li {
  font-family: "DM Sans", sans-serif;
}


.justforfont {
  font-family: "DM Sans", sans-serif;
}

.UltrakillText {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: fit-content;
}

.arch-linux-badge {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: fit-content;
}

.Social {
  font-size: 20px;
}

.logo {
  height: 20px;
  margin-right: 5px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  width: 600px;
  margin: auto;
}
.box {
    padding: 20px;
    border: none;
    border-radius: 10px; /*rounded edges :0*/
    background: linear-gradient(180deg, #69f3f3 0%, #0082e6 75%);
    background-clip: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;

    font-family: "DM Sans", sans-serif;
    color: white;
    
    font-size: 20px;
}
.box b {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.box i {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.2;
}

/*Bunch of garbage to make images decent */

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0; 
}
.project-image img {
    width: 100%;
    height: auto;
    
    border-radius: 10px;
    object-fit: cover;
    display: block;
}
.project-image:not(:hover) {
  position: relative;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
  transform: scale(1);
  z-index: 2;
}
.project-image:hover {
  position: relative;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
  transform: scale(1.2);
  z-index: 2;
}

.idk_bruh {
  font-size: 20px;
}

.EasterEggsReminder {
  font-family: "Montserrat", sans-serif;
  color: white;
}
/* tell nobody about that hehe */
.bottom-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}
